<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Image Watermark</title>
  </head>
  <body>
    <div class="container-fluid">
      <h1>Image Watermark</h1>
    </div>


    <div class="container-fluid">
      <form method=post enctype=multipart/form-data target="_blank">
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ form.text.label }}
            {{ form.text(class_="form-control") }}
            {% if form.text.errors %}
                {{ form.text.errors[0] }}
            {% endif %}
          </div>
        </div>
        <div class="form-row">

          <div class="form-group col-md-4">
            {{ form.font_name.label }}
            {{ form.font_name(class_="form-control") }}
            {% if form.font_name.errors %}
              {{ form.font_name.errors[0] }}
            {% endif %}
          </div>

          <div class="form-group col-md-2">
            {{ form.font_size.label }}
            {{ form.font_size(class_="form-control") }}
            {% if form.font_size.errors %}
              {{ form.font_size.errors[0] }}
            {% endif %}
          </div>

        </div>

        <div class="form-group">
          <div class="form-check">
            {{ form.as_attachment(class_="form-check-input") }}
            {{ form.as_attachment.label(class_="form-check-label") }}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-mid-6">
            {{ form.image(class_="form-control-file") }}
            {% if form.image.errors %}
              {{ form.image.errors[0] }}
            {% endif %}
          </div>
          <div class="form-group col-mid-6">
            <button type="submit" class="btn btn-primary">Process</button>
          </div>
        </div>
      </form>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
